@import '~iview/src/styles/index.less';
@primary-color: #d09a56;
.ivu-input-group-prepend{
  background: #fdfdfd !important;
}
.login .ivu-input-group-append{
  padding: 0;
}
.header a{
  color: #495060;
}
.header .ivu-menu-item-selected a{
  color: #d09a56;
}
.ivu-menu-primary.ivu-menu-horizontal .ivu-menu-item-active, .ivu-menu-primary.ivu-menu-horizontal .ivu-menu-submenu-active, .ivu-menu-primary.ivu-menu-horizontal .ivu-menu-item:hover, .ivu-menu-primary.ivu-menu-horizontal .ivu-menu-submenu:hover{
  background: #fff;
  color: #d09a56;
}
.ivu-menu-primary.ivu-menu-horizontal .ivu-menu-item-active:hover{
  color: #d09a56 !important;
  background: #fff !important;
}
.charge .ivu-upload{
  width: 100% !important;
  height: 100% !important;
}